p{
    color: crimson;
    font-size: 36pt;
    background-color: azure;
}

h2{
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    font-family: 'Ranchers', cursive;
    color: darkslategray;
}

h3{
    color: darksalmon;
    border-style: solid;
    border-color: brown;
    border-width: 3px;
}